
body{
    font-family: 'Franklin Gothic Heavy';
}

header{    
    height: auto;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.centrar-img{
    display: block;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.title{         
    font-size: 60px;   
    color: rgb(4, 4, 53);    
    padding-bottom: 1%;
}

.title-content{
    text-align: center;
}

*{margin: 0; padding: 0;}

.content{
    padding-top: 2%;
    width: 80%;
    max-width: 80%;
    margin: auto;
    overflow: hidden;
}

nav{
    width: 100%;
    background-color: #F0B429;    
}

nav a{
    display: inline-block;
    color: cornsilk;    
    text-decoration: none;
    padding: 10px 20px;    
}