
body{
    font-family: 'angsana new';
}

header{    
    height: auto;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.centrar-img{
    display: block;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.title{         
    font-size: 60px;   
    color: rgb(4, 4, 53);    
    padding-bottom: 1%;
}

.title-content{
    text-align: center;
    color:  #005883;
    font-family: franklin gothic book;
  
}



*{margin: 0; padding: 0;}

.content{
    padding-top: 2%;
    width: 80%;
    max-width: 80%;
    margin: auto;
    overflow: hidden;
}

nav{
    width: 100%;
    background-color:  #005883;    
}

nav a{
    display: inline-block;
    color: #ffffff;    
    text-decoration: none;
    padding: 10px 20px; 
      
}

a:hover{
    color: #F0B429;

}
.introduccion{
    padding-top: 5px;
    

}

.introduccion p{
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Open Sans',sans-serif;
    
 
}